<footer>
  <div class="generated-note">
    Site generated with
      <a href="https://jekyllrb.com/" target="_blank"> Jekyll </a> in
      <a href="https://docs.gitlab.com/ee/ci/" target="_blank"> Gitlab-CI </a>.
    See <a href="{{ '/projects/2018/04/02/building_a_personal_website_with_jekyll.html' | relative_url }}">this post</a> for more information.
  </div>
  <br />
  <div class="license">
    <div>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a>
    </div>
    <div>
      <p>
        All content is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          Creative Commons Attribution-ShareAlike 4.0 International License
        </a>
        unless otherwise stated
      </p>
      <p>
        Exceptions: social media icons
      </p>
    </div>
  </div>
</footer>
