<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
  	type="application/atom+xml"
  	rel="alternate"
  	href="{{ "/feed.xml" | repend: site.baseurl }}"
  	title="Kyle Racette's Homepage"
  />
  <link rel="stylesheet" href="{{ "/assets/main.css" | repend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/syntax.css" | repend: site.baseurl }}">
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
