{%- if site.posts.size > -1 -%}
  <h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h1>
  <ul class="post-list">
    {%- for post in site.posts -%}
    {%- if page.display_category == nil or post.categories contains page.display_category -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <div class="post-meta">
        <div class="item">{{ post.date | date: date_format }}</div>
        {%- for category in post.categories -%}
          {%- unless page.exclude_categories contains category -%}
          <a class="item" href="{{ site.category_data[category].href }}">{{ site.category_data[category].name|escape }}</a>
          {%- endunless -%}
        {%- endfor -%}
      </div>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      
      <p class="post-description">
        {{ post.description }}
      </p>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
{%- endif -%}
