main {
  display: block;
  position: relative;

  height: 100%;
}

@include on-desktop {
  main {
  }
}

footer {
  font-size: $tiny-font-size;

  .license {
    display: flex;

    img {
      width: 220px;
    }
  }
}

.navigation {
  position: sticky;
  display: flex;
  width: 100%;
  color: $link-light-text-color;
  background: $background-color;
  top: 0px;
  border-bottom: 2px solid $grey-color;

  img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 22px;

    @include on-desktop {
      margin-left: 0px;
    }
  }

  .menu {
    margin: 10px;

    > div {
      padding: $spacing-unit;
      float: left;
    }
  }

  .menu::after {
    clear: both;
    content: '';
  }

  .mobile {
    display: block;
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: $spacing-unit;

  @include on-desktop {
    margin-left: 4 * $spacing-unit;
    margin-right: 4 * $spacing-unit;
  }

  h1,h2,h3,h4 {
    color: $primary-light1-text-color;
  }
}

.resume {

  h2 {
    color: $link-light-text-color;
  }
  h3,h4 {
    color: $link-text-color;
    font-style: italic;
  }
}

.resume pre,.resume code {
  color: $grey-color;
  font-size: 10pt;
  overflot-x: visible;
}
.resume pre,.resume code,
.post pre,.post code {
  background-color: $background-color;
  border: 0px;
}

.home {
  margin-top: 120px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  color: $primary-dark1-text-color;
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  display: flex;

  > .item {
    margin-left: 6px;
    margin-right: 6px;
  }

  > :first-child {
    margin-left: 0px;
  }
  > :last-child {
    margin-right: 0px;
  }
}

.post-link {
  display: block;
  color: $primary-dark1-text-color;
}

.post-description {
  color: $primary-text-color;
  line-height: $desktop-line-height;
}

.submenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  > .item {
    margin-left: 6px;
    margin-right: 6px;
  }

  > :first-child {
    margin-left: 0px;
  }

  > :last-child {
    margin-right: 0px;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  color: $primary-dark1-text-color;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  text-align: justify;

  h2 {
    @include relative-font-size(2);

    @include on-desktop {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include on-desktop {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include on-desktop {
      @include relative-font-size(1.125);
    }
  }

  .introduction {
    padding-left: 22px;
    margin-bottom: 48px;
    color: $primary-dark1-text-color;
  }

  img {
    max-width: 60%;
    display: block;
    margin: 56px auto;
  }
}
