@charset "utf-8";

// Define defaults for each variable.


$desktop-font-size: 14pt !default;
$desktop-header-font-size: 32pt;
$desktop-header2-font-size: 22pt;
$desktop-line-height: 1.3 !default;
$desktop-font-weight: 400 !default;
$desktop-font-family: -apple-system, BlinkMacSystemFont, "Lucida Console", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$mobile-font-family: -apple-system, BlinkMacSystemFont, "Lucida Console", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mobile-font-size:   12pt;
$mobile-header-font-size: 24pt;
$mobile-header2-font-size: 18pt;
$mobile-font-weight: 400;
$mobile-line-height: 1.3;

$small-font-size:  $desktop-font-size * 0.875;
$tiny-font-size:   $desktop-font-size * 0.5;
$spacing-unit:     12px !default;

$primary-text-color:        #a7bfcc !default;
$primary-light1-text-color: #b3bec4 !default;
$primary-light2-text-color: #5676B5 !default;
$primary-dark1-text-color:  #677c88 !default;
$primary-dark2-text-color:  #52626b !default;
$link-text-color:           #a7b045 !default;
$link-light-text-color:     #a79045 !default;
$background-color:          #171717 !default;

$grey-color:        #828282 !default;
$grey-color-light:  lighten($grey-color, 40%) !default;
$grey-color-dark:   darken($grey-color, 25%) !default;

$table-text-align:  left !default;

// Width of the content area
$content-width:     900px !default;

$footer-width:      $content-width * 0.8 !default;

$desktop-width:     768px;

@mixin on-desktop {
  @media only screen and (min-width: $desktop-width) {
    @content;
  }
}

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $desktop-font-size * $ratio;
}

// Import partials.
@import
  "base",
  "layout",
  "syntax-highlighting"
;
