<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <nav class="navigation {%- if page.show_nav_on_mobile -%}mobile{%- endif -%}">
          <img src="/assets/profile.jpg" />
          <div class="menu">
            <div><a href="/">home</a></div>
            <div><a href="/projects/">projects</a></div>
            <div><a href="/writing/">writing</a></div>
            <div><a href="/contact/">contact</a></div>
          </div>
        </nav>
        <section class="content">

         {{ content }} 

        </section>
      </div>
    </main>
  </body>
</html>
